.fixed-div {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
    
  }

  .icon {
    font-size: 24px; /* Set the size of the icon */
    color: #576574;
  }

  .icon-a {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f7f7f7, #d7d7d7); /* Define your gradient colors here */
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .icon-a:hover {
      background: linear-gradient(to right, #f7f7f7 0%, #c7c7c7 100%);
      box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
      color: #8395a7;
  }

  .icon-a:active{
      background-color: #8395a7;
      box-shadow: 0 1px #8395a7;
  }
